!!!
%html
  %head
  %title Tweetstache
  %script{:type => "text/javascript", :src=> "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
  %link{"rel" => "stylesheet", "href" => "style.css", "type" => "text/css"}
  
  %body
    %div
      %h1 Save a Tweet
      %form{:action => 'save', :method => 'post'}
        %h2 Paste the url for the Tweet here
        %input{:type => 'text', :name => 'url' }
        %input{:type => 'submit'}
    %div
      %h2 Last Saved Tweet
      = @tweet