!!!
%html
  %head
  %title Tweetstache
  %script{:type => "text/javascript", :src=> "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
  %link{"rel" => "stylesheet", "href" => "/style.css", "type" => "text/css"}
  
  %body
    %div
      %h1 Search Term: 
      = @term.term
      %form{:action => '/terms/', :method => 'post'}
        %label Term
        %input{:type => 'text', :name =>'term', :value => @term.term }
        %label Active?
        %select{:name=>'is_active'}
          %option{:value=>'no', :selected=>@selected['no']}no
          %option{:value=>'yes', :selected=>@selected['yes']}yes

        %input{:type => 'submit'}
    