- @squares.each do |square|
  - if square["entities"]["media"] !=nil
    %div.grid
      %img.tile{:src=>square["entities"]["media"][0]["media_url"]}
      %div.overlay
        %div.user
          %a{:href=>"http://twitter.com/#!/"<<square.from_user}="@"<<square.from_user
          %div.date
            = Time.parse(square.created_at).strftime("%H:%m:%S%p %e %b %Y")
        %div.text
          = square.text
  - if square["video_embed"] !=nil
    %div.grid.video  
      = square["video_embed"]
#more
  %a{:href=>"/mosaic/json/"<<@page}
