!!!
%html
  %head
  %title #OccupyMosaic - MayDay
  %meta{:name=>"description", :content=>"A mosaic of photos that were posted worldwide during the May Day General Strike"}
  %script{:type => "text/javascript", :src=> "http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"}
  %script{:type => "text/javascript", :src=> "/jquery.isotope.min.js"}
  %script{:type => "text/javascript", :src=> "/jquery.infinitescroll.min.js"}
  %script{:type => "text/javascript", :src=> "/mosaic.js"}
  %link{"rel" => "stylesheet", "href" => "/style.css", "type" => "text/css"}
  %body
    %div#mosaic-container
      %div#thumbnails{:style=>"height:0px; width:0px"}
        %img{:src=>"/images/thumbnails.jpg", :style=>"height:0px; width:0px"}
      %div#header
        %h1 #Occupy
        %h1{:style=>"color:#fc3"}Mosaic
        %div{:style=>"float:right"}
          %h1  
          %a{:href=>"/mayday"}#MayDay
          %a{:href=>"/about"}About
      %div#bigpic
        %img{:src=>""}
      %div#mosaic.mosaic
        - @squares.each do |square|
          - if square["entities"]["media"][0]["media_url"] !=nil
            %div.grid{:style=> "height:"<<square["entities"]["media"][0]["sizes"]["small"]["h"].to_s<<"px"}
              %img.tile{:src=>square["entities"]["media"][0]["media_url"]}
              %div.overlay
                %div.user
                  %a{:target=>"_new", :href=>"http://twitter.com/#!/"<<square.from_user}="@"<<square.from_user
                  %div.date
                    %a{:target=>"_new", :href=>"http://twitter.com/#!/"<<square.from_user<<"/status/"<<square.id_str}= (Time.parse(square.created_at)-(3600*4)).strftime("%I:%M%p %b %e, %Y")
                %div.text
                  = square.text
          - if square["video_embed"] !=nil
            %div.grid.video  
              = square["video_embed"]
      
        %div#infscr-loading
        %div#more 
          %a{:href=>"/page/mayday/"+@page.to_s}=@page.to_s
          
      :javascript
        var pkBaseURL = (("https:" == document.location.protocol) ?
        "https://analytics.occupy.net/" : "http://analytics.occupy.net/");
        document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js'
        type='text/javascript'%3E%3C/script%3E"));
        </script><script type="text/javascript">
        try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 30);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
        } catch( err ) {}
        
    %img{:src=>"http://analytics.occupy.net/piwik.php?idsite=30" ,:style=>"border:0", :alt=>""}         
        